@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


body {
    background-color: rgb(120, 171, 247);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

div#form {
    text-align: center;
}

div#form input {
    width: 140px;
    text-align: center;
}

div#resultado {
    text-align: center;
    padding: 15px;
    font-family: 'Inconsolata', monospace;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Edu QLD Beginner', cursive;
}